

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ubunto, sans-serif;
}



.landing_section {
    padding:  2rem 6rem 2rem;
    width: 100%;
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    height: 40rem;
    border-radius: 0 0 0 7rem;

}

.img_background {
    margin-top: -90rem;
    margin-left: -50rem;
    position: absolute;
    z-index: 1;
    transform: scale(0.75);

}
header {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.navbar {
    width: 100%;
    margin-right: 2rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;

}


.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    color: rgb(255, 235, 213);
}

.logo {
    flex-grow: 1;
    z-index: 10;
}

.links {

    flex-grow: 3;
    z-index: 9;
}

.custome_btn {
    background-color: white;
    border-radius: 20rem;
}
.custome_btn a{
    color: tomato;
}
.custome_btn a:hover{
    color: tomato;
}
.custome_btn:hover {
    background-color: rgb(255, 158, 158);
}



.btns_nav {
    flex-grow: 2;
    z-index: 8;
    display: flex;
    justify-content: flex-end;
}

.navbar ul{
    display: flex;
    list-style: none;    
}

.navbar li{
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}


.navbar li:hover {
    cursor: pointer;
}

.navbar ul ul {
    display: flex;
    flex-direction: column;
}

.navbar ul li ul {
    background: rgba(255, 255, 255, 0.37);
    padding: 0 1rem;
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
  
.navbar ul li:hover > ul,
.navbar ul li:focus-within > ul, /* this is the line we add */
.navbar ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
  
.navbar ul li ul li {
    clear: both;
    width: 100%;
}

.content_main {
    z-index: 7;
    flex-grow: 3;
    color: white;
}







