

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ubunto, sans-serif;
}
/* html {
    overflow-x: hidden;
} */

/* ------------- SECTION 1---------------- */

.container{
    padding:  2rem 6rem 2rem;
    width: 100%;
}

.landing_section {
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    height: 35rem;
    border-radius: 0 0 0 5rem;
    position: relative;
    overflow:hidden;
    text-align: center;

}

.img_background {
    margin-top: -90rem;
    margin-left: -50rem;
    position: absolute;
    z-index: 1;
    transform: scale(0.75);


}
header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    width: 100%;
    margin-right: 2rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;
}


.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    color: rgb(255, 235, 213);
}

.logo {
    flex-grow: 1;
    z-index: 10;
}

.links {

    flex-grow: 3;
    z-index: 9;
}

.custome_btn {
    display: inline-block;
    width: 8rem;
    background-color: white;
    border-radius: 20rem;
    padding: 1rem;
    text-align:center ;
    cursor: pointer;    
}

.custome_btn a{
    color: tomato;
    text-decoration: none;
}
.custome_btn a:hover{
    color: tomato;
}
.custome_btn:hover {
    background-color: rgb(255, 158, 158);
    cursor: pointer;
}



.btns_nav {
    flex-grow: 2;
    z-index: 8;
    display: flex;
    justify-content: flex-end;
}

.navbar ul{
    display: flex;
    list-style: none;    
}

.navbar li{
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}


.navbar li:hover {
    cursor: pointer;
}

.navbar ul ul {
    display: flex;
    flex-direction: column;
}

.navbar ul li ul {
    background: rgba(255, 255, 255, 0.37);
    padding: 0 1rem;
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
  
.navbar ul li:hover > ul,
.navbar ul li:focus-within > ul, /* this is the line we add */
.navbar ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
  
.navbar ul li ul li {
    clear: both;
    width: 100%;
}



.content_main {
    z-index: 7;
    flex-grow: 3;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.big_title {
    padding: 1rem;
    font-size: 1.2rem;
}

.big_title {
    padding-bottom: 1.4rem;
    font-weight: normal;
}

.btn_section {
    padding: 2rem;
    display: flex;
    list-style: none;
}

.btn_section .custome_btn {
    margin: 1rem;
}

/* ------------- SECTION 2 ---------------- */

.main1 {
    color: #44535c;
    position: relative;
    overflow:hidden;
    height: 100%;
    padding-bottom: 15rem;

}

.main1 h1 {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
}

.main1 p {
    padding: .5rem;
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: lighter;
    padding-right: 30rem ;
}

.main1 h2 {
    margin-top: 2rem;
}

.section_content1 {
    padding: 2rem;
    margin-top: 3rem;
    max-width: 35rem;
}

.background_illustration1 {
    position: absolute;
    margin-top: -15rem;
    margin-left: 35rem;
    transform: scale(0.8);

}

.background_illustration2 {
    display: none;
}

/* ------------- SECTION 3 ---------------- */

.main2 {
    height: 19rem;
    background-image: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
    border-radius: 0 5rem 0 5rem;
    
}

.circle {
    position: absolute;
    transform: scale(.7);
    margin-top: -20rem;
    margin-left: -15rem;
}

.phones {
    transform: scale(.8);

    
}

.main2 p {
    padding: .5rem;
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: lighter;
}

.main2 h2 {
    margin-top: -1rem;
}

.section_content2 {
    padding: 3rem;
    max-width: 35rem;

}


/* ------------- SECTION 3 ---------------- */

.main3 {
    margin-top: 5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: #44535c;
}

.image1 {
    transform: scale(.8);
    margin-left: -35rem;
    position: absolute;
}

.image2 {
    display: none
}


.main3 p {
    padding: .5rem;
    margin: 2rem 0;
    font-size: 0.9rem;
    font-weight: lighter;
}


/* ------------- SECTION 4 ---------------- */

.footer {
    padding: 4rem  10rem;
    color: white;
    background: hsl(240, 10%, 16%);
    border-radius: 0 5rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
   
}

.footer a {
    
    line-height: 2rem;
    
}

.footer li  a{
    color: white;
    text-decoration: none;
    list-style: none;
}

.footer li ul  {
    text-decoration: none;
    list-style: none;
}

.footer li ul a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-weight: lighter;
    font-size: .7rem;
}

@media (max-width: 1000px) {
    .main1 p {
        padding-right: 50% ;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 0;
        padding: 0;
    }

    .content_main {
        padding: 0 2rem;
    } 


    .navbar {
        margin-top: 1.5rem;
    }


    .footer {
        padding: 4rem  10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .footer li ul a {
        color: white;
        text-decoration: none;
        list-style: none;
        font-weight: lighter;
        font-size: .7rem;
        line-height: 1rem;
    }

    .footer div {
        margin-top: 2rem;
    }

    .main3 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        color: #44535c;
        text-align: center;
        overflow: hidden;
    }


    .image1 {
        display: none
    }

    .image2 {
        display: block;
        position: relative;
        margin-top: 3rem;
        
    }

    .main2 {
        display: flex;
        height: 100%;
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 12rem;
    }

    .main2 img {
        display: block;
        margin-top: -12rem;
        margin-bottom: -7rem;
        transform: scale(0.9);
        max-width: 100%;
    }
    
    .main2 p {
        padding: 0rem;
        margin: 3rem 0rem ;
    }
    
    .main1 {
        padding: 0rem 3rem;
    }
    
    .main1 p {
        padding: 0rem;
    }

    .main1 div {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .background_illustration1 {
        display: none;
    }

    .background_illustration2 {
        display: block;
        position: relative;
        margin: 0rem;
        padding: 0rem;
        transform: scale(0.9);
    }




}

